body{
 font-family: georgia, sans-serif;
  font-weight: 3rem;
 background-color:#262626;
}

#header-img{
 width:200px;
 filter:invert(100%);
 float:left;
}
.nav-link{
  border-style:solid;
  font-family: tahoma;
  font-weight: 2rem;
}
.topnav{
  width:100%;
  background-color:#000000;
  overflow:hidden; 
  position:fixed;
}

.topnav a{
  float: right;
  color: #f2f2f2;
  text-align: left;
  padding: 14px 20px;
  text-decoration: none;
  font-size: 18px;
  transition: background .5s ease-out , color .5s ease-out; 
}

.topnav a:hover {
  background-color: #8c03fc;
  color: black;
}

.topnav a:active {
  background-color: #4CAF50;
  color: white;
}

#title{
 font-size:25px;
 text-align:center;
 color:#8c03fc;
 margin-top:100px;
}

#email{
 display:block;
 margin:auto;
 padding:6px;
 border-radius:10px;
 border:none;
 background-color:#008f13;
 color:white;
 text-decoration:none;
 width:130px;
 transition : width 0.5s ease-out ,background 0.5s ease-out ;
 
}

::placeholder{
 color:white;
 transition: color 1s ease-out;
}

#submit{
 display:block;
 margin:auto;
 margin-top:10px;
 border-radius:10px;
 border:none;
 background-color:#7d7a80;
 color:white;
 text-decoration:none;
 padding:5px;
 width:70px;
 transition: background 1s ease-out;  
 cursor:pointer;
 
}

#email:hover {
  width: 180px;
  background-color:white;
  color:black;
  cursor:pointer;
  
}

#submit:hover{  
    background-color:#008fb3;
    cursor:pointer;
}  

:hover::placeholder{
 color:black;
}

div.text{
 padding-top:100px;
 width:650px;
 margin:auto;
 text-align:left;
 transition: color 0.5s ease-out , text-shadow 0.5s ease-out;
 color:#8c03fc;

}

div.text:hover {
  color: #0bcddb;
  text-shadow:5px 5px 5px #000000;
}

#video{
 display:block;
 margin:auto;
 margin-top:100px;
 margin-bottom:100px;
 background-color:#8c03fc;
 padding:5px;
 border-radius:px;
}

div.flex-container{
 display:flex;
 justify-content:center;
 text-align:center;
}

div.products{ 
 background-color:white;
 margin:20px;
}

.product-title{
  padding:20px;
  background-color:#8c03fc;
  color: white ;
  text-align: center;
  font-size: 25px;
  border-style: inset;
  border-width: thick;
}

div.product-description{
 color:black;
}

#product-submit{
 margin:auto;
 border:none;
 background-color:#8c03fc;
 color:white;
 text-decoration:none;
 padding:10px;
 width:330px;
 transition: background 1s ease-out;  
 cursor:pointer;
 font-size:25px;
}

#product-submit:hover{  
    background-color:#008fb3;
    cursor:pointer;
}

@media screen and (max-width:1127px){
 .topnav a{
 width:100%;
}
 .flex-container{
  
 flex-direction:column;
  width:400px;
  margin:auto;
 }
  /*MEDIA QUERIES*/
  
  @media screen and (max-width: 700px) {
    
    footer{
      background:white;
    }
  }